{% extends 'search/base.html' %}
{% load static %}

{% block javasrcipt %}
    <script src="{% static 'image_search/image_search.js' %}"></script>
{% endblock %}
{#https://www.codeply.com/go/roydoXgaLr/bootstrap-4-flip-cards#}
{% block stylesheet %}
    <link href="{% static 'image_search/style.css' %}" rel="stylesheet">
{% endblock %}

{% block home_url %}
    <a id='home' class="navbar-brand js-scroll-trigger" href="{% url 'home' %}">Patent Search</a>
{% endblock %}

{% block main_page %}
    <section class="page-section bg-dark text-white" id="search">
        <br>
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-white mt-0">Patent Image Search</h2>
                    <hr class="divider light my-4">
                    <br>
                    <div class="container text-center">
                        <img src="" id="profile-img-tag" class="img-thumbnail" width="200px" />
                        <br><br>
                        <form method="POST" id="image_form" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="custom-file input-group">
                                <input type="file" class="custom-file-input" name='image' id="profile-img">
                                <label class="custom-file-label" id='img-label' for="customFile">Choose file</label>
                            </div>
                            <br><br>
                            <button id="search_patent" type="submit" class="btn btn-primary"> 현재 이미지로 검색하기 </button>
                        </form>
                    </div>
                </div>
                {#                <button id="search_image" type="button" class="btn btn-primary"> 이미지 검색하기 </button>#}
            </div>
        </div>
    </section>

    <section class="page-section" id="result_section">
        <div class="container">
            <h2 class="text-center mt-0">Results</h2>
            <hr class="divider my-4">
            <br>
            <div class="row">
                <div class="col-md-3 col-sm-6 thumbnail-card">
                    <div class="card card-flip h-100">
                        <div class="card-front">
                            <div class="card-body">
                                <img src="https://via.placeholder.com/300" class="card-img-top">
                                <hr>
                                <h5 class="card-title">Patent ID : 1000000</h5>
                            </div>
                        </div>
                        <div class="card-back bg-white">
                            <div class="card-body">
                                <h3 class="card-title">Back</h3>
                                <hr>
                                <p class="card-text">Suprise this one has more more more more content on the back!</p>
                                <hr>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 thumbnail-card">
                    <div class="card card-flip h-100">
                        <div class="card-front">
                            <div class="card-body">
                                <img src="https://via.placeholder.com/300" class="card-img-top">
                                <hr>
                                <h5 class="card-title">Patent ID : 1000000</h5>
                            </div>
                        </div>
                        <div class="card-back bg-white">
                            <div class="card-body">
                                <h3 class="card-title">Back</h3>
                                <p class="card-text">Suprise this one has more more more more content on the back!</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 thumbnail-card">
                    <div class="card card-flip h-100">
                        <div class="card-front">
                            <div class="card-body">
                                <img src="https://via.placeholder.com/300" class="card-img-top">
                                <hr>
                                <h5 class="card-title">Patent ID : 1000000</h5>
                            </div>
                        </div>
                        <div class="card-back bg-white">
                            <div class="card-body">
                                <h3 class="card-title">Back</h3>
                                <p class="card-text">Suprise this one has more more more more content on the back!</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 thumbnail-card">
                    <div class="card card-flip h-100">
                        <div class="card-front">
                            <div class="card-body">
                                <img src="https://via.placeholder.com/300" class="card-img-top">
                                <hr>
                                <h5 class="card-title">Patent ID : 1000000</h5>
                            </div>
                        </div>
                        <div class="card-back bg-white">
                            <div class="card-body">
                                <h3 class="card-title">Back</h3>
                                <p class="card-text">Suprise this one has more more more more content on the back!</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div id='footer'></div>
{% endblock %}